@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Seebladsgade 1<br />
    5000 Odense<br />
    <abbr title="Phone">P:</abbr>
    2819 3535
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rhea0031@edu.eal.dk">rhea0031@edu.eal.dk</a>
</address>